<nav  class="navbar">
    <img src="/assets/logo.png"  width="100" height="50">
    <form class="form-inline" >
            <a href="home"><button  type="button"  class="btn btn-link"  style="color: white;">Home</button></a>
            <a href="home" ><button  type="button"  class="btn btn-link"  style="color: white;">Food Category</button></a>
            <a class="pointer" (click)="logout()" style="color: white;">Logout</a>
        </form>
  </nav>

<div class="wrap1">
 
    <div class="container">

   
     <div class="main-title"  style="text-align: center;">
      <h1 style="color:white">American Food</h1><br>
     </div>
   
     <div class="row mgn-btm wow">
      <span>
         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
             <div class="content">
               <form class="login-form" action="">
                  <div class="form-header">
                   <img src="/assets/Apple-Pie.jpg" style=" border-radius: 50%" width="200" height="150" >
                 <h4>Apple Pie</h4>
                 <p>₹90/- </p>
                  <p><button class="cart-button" (click)="cart()" >Add to Cart</button></p>
                     
                   </div>
         
                  </form>
             </div>
         </div>
         </span>
         <span>
         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
             <div class="content">
               <form class="login-form" action="">
                  <div class="form-header">
                   <img src="/assets/Hamburger.jpg" style=" border-radius: 50%" width="200" height="150" >
                 <h4>Hamburger</h4>
                 <p>₹150/- </p>
                  <p><button class="cart-button" (click)="cart()" >Add to Cart</button></p>
                     
                   </div>
         
                  </form>
             </div>
         </div>
         </span>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
             <div class="content">
               <form class="login-form" action="">
                  <div class="form-header">
                   <img src="/assets/Clam-Chowder.jpg" style=" border-radius: 50%" width="200" height="150" >
                 <h4>Clam Chowder</h4>
                 <p>₹100/- </p>
                  <p><button class="cart-button" (click)="cart()" >Add to Cart</button></p>
                     
                   </div>
         
                  </form>
             </div>
         </div>
     </div>
     
     
     <br>
     
     <div class="row mgn-btm wow">
      <span>
         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
             <div class="content">
               <form class="login-form" action="">
                  <div class="form-header">
                   <img src="/assets/Bagel.jfif" style=" border-radius: 50%" width="200" height="150" >
                 <h4>Bagel and Lox</h4>
                 <p>₹90/- </p>
                  <p><button class="cart-button"  (click)="cart()" >Add to Cart</button></p>
                     
                   </div>
         
                  </form>
             </div>
         </div>
         </span>
         <span>
         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
             <div class="content">
               <form class="login-form" action="">
                  <div class="form-header">
                   <img src="/assets/Deep.jpg" style=" border-radius: 50%" width="200" height="150" >
                 <h4>Deep-Dish Pizza</h4>
                 <p>₹125/- </p>
                  <p><button class="cart-button" (click)="cart()" >Add to Cart</button></p>
                     
                   </div>
         
                  </form>
             </div>
         </div>
         </span>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
             <div class="content">
               <form class="login-form" action="">
                  <div class="form-header">
                   <img src="/assets/Tacos.jpg" style=" border-radius: 50%" width="200" height="150" >
                 <h4>Tacos</h4>
                 <p>₹120/- </p>
                  <p><button class="cart-button" (click)="cart()" >Add to Cart</button></p>
                     
                   </div>
         
                  </form>
             </div>
         </div>
     </div>
     
         <br>
     
     <div class="row mgn-btm wow">
      <span>
         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
             <div class="content">
               <form class="login-form" action="">
                  <div class="form-header">
                   <img src="/assets/Texas.jfif" style=" border-radius: 50%" width="200" height="150" >
                 <h4>Texas Barbecue</h4>
                 <p>₹150/- </p>
                  <p><button class="cart-button" (click)="cart()" >Add to Cart</button></p>
                     
                   </div>
         
                  </form>
             </div>
         </div>
         </span>
         <span>
         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
             <div class="content">
               <form class="login-form" action="">
                  <div class="form-header">
                   <img src="/assets/Chicken.jpg" style=" border-radius: 50%" width="200" height="150" >
                 <h4>Chicken fried steak</h4>
                 <p>₹150/- </p>
                  <p><button class="cart-button" (click)="cart()" >Add to Cart</button></p>
                     
                   </div>
         
                  </form>
             </div>
         </div>
         </span>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
             <div class="content">
               <form class="login-form" action="">
                  <div class="form-header">
                   <img src="/assets/Banana.jfif" style=" border-radius: 50%" width="200" height="150" >
                 <h4>Banana split</h4>
                 <p>₹50/- </p>
                  <p><button class="cart-button" (click)="cart()" >Add to Cart</button></p>
                     
                   </div>
         
                  </form>
             </div>
         </div>
     </div>
     
    
 </div>
 </div>

 <footer class="footer">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" style="color: white;">© 2019 Copyright:
          <a href="https://apc.delve.office.com/?u=2096e27a-3d60-4397-a5fb-69767aae98e4&v=work" style="color: white;">Anoop</a>
        </div>
        <!-- Copyright -->
    </footer>